body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.fexible-continar{
    display: flex;
}
.top-header{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat ;
    margin-bottom: 50px;

}
.half-width{
    width: 50%;
    padding-left: 75px;

}
.half-width img{
    width: 80%;
    padding-left: 25px;
}
.half-width p{
    text-align: justify;
    padding-right: 50px;
}
.half-width a{
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient(to right
    , #d18569 0%,  #db4d30);
    color: #ffffff;
    font-weight: 800;
    border-radius: 5px;
}
.middel{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.Experiences-items{
    box-shadow: 10px 10px 50px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    padding: 25px 20px;

    
}

#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(#FF6548, #FFA07A);
    border-image-slice: 1;
}
#web-dev-pro{
    border-left: 7px solid;
    border-image: linear-gradient(#4a08ff, #08aee0);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}